.container {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 2.083rem;
  bottom: 0;
  background-color: var(--light--blue);
}

.sized_box {
  width: 0.5rem;
}

.footer_change_page {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.footer_change_page > div {
  margin: 0.25rem;
}
